<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
</head>
<body>
    <form method="post" action="/boards">
        <input type="text" name="title" placeholder="제목을 입력하세요">
        <br>
        <textarea id="content" name="content" rows="10" cols="100" placeholder="내용을 입력하세요"></textarea>
        <script type="text/javascript">
            var oEditors = [];
            nhn.husky.EZCreator.createInIFrame({
                oAppRef: oEditors,
                elPlaceHolder: "content",
                sSkinURI: "/se2/SmartEditor2Skin.html",
                fCreator: "createSEditor2"
            });
        </script>
        <br>
        <button type="submit">저장</button>
        <button id="btnCancel" type="button">취소</button>
    </form>
    <script type="text/javascript">
        $(function () {
            $('#btnCancel').on('click', function () {
                history.back(-1);
            });
        });
    </script>
</body>
</html>